<div class="box">
    <p>articoli works!</p>
    <!-- <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>modello</th>
                <th>marca</th>
                <th>descrizione</th>
                <th>nazionalita</th>
                <th>ram</th>
                <th>processore</th>
                <th>schedaMadre</th>
                <th>schedaVideo</th>
                <th>annoProduzioneInizio</th>
                <th>annoProduzioneFine</th>
                <th>foto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lista_articoli | async">
                <td>{{item.id}}</td>
                <td>{{item.modello}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.descrizione}}</td>
                <td>{{item.nazionalita}}</td>
                <td>{{item.ram}}</td>
                <td>{{item.processore}}</td>
                <td>{{item.schedaMadre}}</td>
                <td>{{item.schedaVideo}}</td>
                <td>{{item.annoProduzioneInizio}}</td>
                <td>{{item.annoProduzioneFine}}</td>
                <td>{{item.foto}}</td>
            </tr>
        </tbody>
    </table> -->

    <div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>

            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" autocomplete="off" placeholder="inserisci" class="form-control">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col" *ngFor="let item of lista_articoli | async; let i = index" [attr.data-index]="i">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-light">
                        ARTICOLO {{i}}
                        <i class="bi bi-info"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.modello}} - {{item.marca}}</h5>
                        <p class="card-text">{{item.descrizione}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>